{{>layout/header}}
<div class="container">
    <form action="/auth/loginProc" method="post">
        <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Enter username">
        </div>

        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password">
        </div>
        <button id="btn-login" class="btn btn-primary">로그인</button> <!-- form안에 넣어서 submit 버튼 누르면 action 발생하도록 -->
    </form>
</div>
<!--<script src = "/js/user.js"></script> 폼으로 로그인할 거기때문에 js 필요없음.-->
{{>layout/footer}}